@page "/carti"

<h3>Carti</h3>
<div style="width: 100%; height: 400px;" class="yandex-map">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor:<d167fb69-24e0-41c1-9f8e-ed3d27a16093>&amp;source=constructor" width="800" height="600" frameborder="2"></iframe>
</div>

@code {

}