@rendermode InteractiveServer
<div class="modal fade show" id="myModal" style="display:block; background-color:rgba(10,10,10,.8) " aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Количекство
                </h4>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" @onclick="IncrementCount">сломай меня</button>
                <p role="status">Current count: @currentCount</p>
            </div>
        </div>
    </div>
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}