@page "/"

@rendermode InteractiveServer
<PageTitle>Главная страница</PageTitle>

<div class="text-center welcome-section">
    <h1>Добро пожаловать!</h1>
    <p>Откройте для себя мир возможностей с нашими услугами и предложениями.</p>
    <button @onclick="OnClick" class="btn btn-primary">Узнать больше</button>

    @if (detailsVisible)
    {
        <p class="mt-2">Мы предлагаем широкий спектр услуг, включая добавление недвижимости и её редактирование, а также просмотр данных о недвижимости.</p>
    }
</div>

@code {
    private bool detailsVisible = false;

    private void OnClick()
    {
        detailsVisible = !detailsVisible;
    }
}