@page "/loginTrue"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>Статус входа: Успешно</h3>

@code {
    private ClaimsPrincipal curentUser;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        curentUser = authState.User;
    }
}
