@page "/weather"

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Включить прокрутку тела</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas с прокруткой тела</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <p>Попробуйте прокрутить оставшуюся часть страницы, чтобы увидеть эту опцию в действии.</p>
    </div>
</div>

@code {
    private bool ModalUeeeeee { get; set; }
    private int currentCount = 0;
    private bool isClosing { get; set; }
    protected override async Task OnInitializedAsync()
    {
        OpenModal();
    }
    private void OpenModal()
    {
        ModalUeeeeee = true;
        isClosing = false;
    }
    private async Task CloseModal()
    {
        isClosing = true;

        // Длительность анимации
        await Task.Delay(400); 
        ModalUeeeeee = false;
        isClosing = false;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}