@page "/weather"
@rendermode InteractiveServer

@if (ModalUeeeeee)
{
    <div class="modal fade show @(ModalUeeeeee ? "d-block" : "d-none")" tabindex="-1" role="dialog" style="display:block; background-color:rgba(10,10,10,.8);" @onclick="()=>CloseModal()">
        <div class="modal-dialog @(isClosing ? "closing" : "")">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Количество
                    </h4>
                    <button type="button" class="btn btn-secondary" @onclick="()=>CloseModal()">Закрыть</button>
                </div>
                <div class="modal-body">
                    <p role="status">Текущее количество: @currentCount</p>
                    <button type="button" class="btn btn-primary" @onclick="IncrementCount">Увеличить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@code {
    private bool ModalUeeeeee { get; set; }
    private int currentCount = 0;
    private bool isClosing { get; set; }
    protected override async Task OnInitializedAsync()
    {
        OpenModal();
    }
    private void OpenModal()
    {
        ModalUeeeeee = true;
        isClosing = false;
    }
    private async Task CloseModal()
    {
        isClosing = true;

        // Длительность анимации
        await Task.Delay(400); 
        ModalUeeeeee = false;
        isClosing = false;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}