@page "/weather"

<button class="btn btn-primary" @onclick="()=>OpenModal()">Нажми сюда</button>

@if (ModalUeeeeee)
{
    <Counter></Counter>
}
@code {
    private bool ModalUeeeeee { get; set; }

    private void OpenModal()
    {
        ModalUeeeeee = true;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadD
    }
}
