@page "/createCategory"
@using DiplomaRealEstate.InputModel
@using DiplomaRealEstate.Services.CategoryServices
@inject ICategoryService CategoryService
@rendermode InteractiveServer

<EditForm Model="@_cartegoryInputModel" OnValidSubmit="CreateCategoryValidSubmit" FormName="create">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-floating mb-4">
		<InputText id="Areas" class="form-control" @bind-Value="realEstateInputModel.Area" placeholder="212314" />
		<label for="Areas">Название</label>
	</div>
	<div class="form-floating mb-4">
		<InputNumber id="Prices" class="form-control" @bind-Value="realEstateInputModel.Price" placeholder="212314" />
		<label for="Prices">Цена ₽</label>
	</div>
	<div class="form-floating mb-4">
		<InputNumber id="Room" class="form-control" @bind-Value="realEstateInputModel.Rooms" placeholder="212314" />
		<label for="Room">Число комнат</label>
	</div>
	<button type="submit" class="btn btn-outline-primary">Добавить</button>
</EditForm>
@code {
	[SupplyParameterFromForm]
	private CategoryInputModel _cartegoryInputModel { get; set; } = new CategoryInputModel();
	private async Task CreateCategoryValidSubmit()
	{
		await CategoryService.AddCategoryAsync(_cartegoryInputModel);
	}
}
