@page "/favorite"
@using DiplomaRealEstate.Models
@using DiplomaRealEstate.Services.FavoriteServices
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IFavoriteService FavoriteService
@inject UserManager<User> userManager

@foreach (var item in _cartItems)
{
	<div class="card mb-3" style="max-width: 500px">
		<img src="/images/@item.RealEstate.Photos" />
		<div class="col-md-6">
			<a>@item.RealEstate.Price</a>
		</div>
		<button>оформить сделку</button>
	</div>
}
		
@code {
	private List<CartItem> _cartItems = new List<CartItem>();
	private string _userId;
	protected override async Task OnInitializedAsync()
	{
		var authUser = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authUser.User;
		_userId = user.FindFirst(u => u.Type == ClaimTypes.NameIdentifier).Value;
		_cartItems = await FavoriteService.GetAllCartItemForUserAsync(_userId);
	}
}
