@page "/favorite"
@using DiplomaRealEstate.Models
@using DiplomaRealEstate.Services.FavoriteServices
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IFavoriteService FavoriteService
@rendermode InteractiveServer
@foreach (var item in _favorites)
{
	<div class="card mb-3" style="max-width: 500px">
		<img src="/images/@item.RealEstate.Photos" />
		<div class="col-md-6">
			<a>@item.RealEstate.Price</a>
		</div>
		<button>оформить сделку</button>
		<button class="btn btn-outline-danger" @onclick="()=>RemoveFavorite(item.RealEstateId)">удалить</button>
	</div>
}
		
@code {
	private List<FavoriteRealEstate> _favorites = new List<FavoriteRealEstate>();
	private string _userId;
	protected override async Task OnInitializedAsync()
	{
		var authUser = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_userId = authUser.User.FindFirst(u => u.Type == ClaimTypes.NameIdentifier).Value;
		_favorites = await FavoriteService.GetAllCartItemForUserAsync(_userId);
	}
	private async Task RemoveFavorite(Guid productId)
	{
		bool success = await FavoriteService.RemoveFavoriteAsync(_userId, productId);
		if (success)
		{
			_favorites = await FavoriteService.GetAllCartItemForUserAsync(_userId);
		}
	}
}