@page "/indexRealEstateUser"
@using DiplomaRealEstate.Models
@using DiplomaRealEstate.Services.RealEstateServices
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IRealEstateService RealEstateService
@inject UserManager<User> userManager
<h3>выаш индект @userId</h3>
<table class="table">
	<thead>
		<tr>
			<th>Идентификатор</th>
			<th>Логин</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in listRealEstates)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Desctiption</td>
			</tr>
		}
	</tbody>
</table>

@code {
    private List<RealEstate> listRealEstates = new List<RealEstate>();
    private string userId;
    protected override async Task OnInitializedAsync()
    {
        var authUser = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authUser.User;
        userId = user.FindFirst(u=>u.Type==ClaimTypes.NameIdentifier).Value;
        listRealEstates = await RealEstateService.GetAllRealEstateIUserAsync(userId);
	}
}
