@page "/indexUser"
@using DiplomaRealEstate.Models
@using DiplomaRealEstate.Services.UserServices
@inject IUserInterface UserServices
<h3>Пользователи</h3>
<table class="table">
	<thead>
		<tr>
			<th>Идентификатор</th>
			<th>Логин</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in userAll)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.UserName <h1>сжечь</h1></td>				
			</tr>
		}
	</tbody>
</table>
@code {
	private List<User> userAll = new List<User>();
	protected override async Task OnInitializedAsync()
	{
		userAll = await UserServices.GetAllUserAsync();
	}
}
