<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DiplomaRealEstate.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d167fb69-24e0-41c1-9f8e-ed3d27a16093&lang=ru_RU" type="text/javascript"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
</body>

</html>
